/* CSS for about us page goes here */

body{
    background-image: url(.././assets/bg.jpg);
}
.navbar{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7%;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    background-color: rgba(255, 255, 255, 0.296); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.homepage{
    display:flex;
    flex: 1;    
    padding-right: 1%;
    align-items: self-end;
    flex-direction: column;
  text-decoration-line: none;
  font-family: sans-serif;
  color: black;
}
.logo{
    display:flex;
    flex: 0;
    flex-direction: column;

}
.logo-title{
    display:flex;
    flex: 3;
    flex-direction: column;
    padding-left: 1%;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    cursor: default;
}
.about-card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: center;
    margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;
    height: 60%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.296); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.connect{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 4%;
    padding-top: 4%;
    margin-bottom: 2%;
}
.s-name{
    font-size: larger;
    height: 100%;
    padding-left: 5%;
    font-family: sans-serif;
    font-weight: bold
    
}
.git-butt{
    height: 30px;
    margin-right: 1%;
    margin-left: 1%;
    opacity: 0.8;
    transition: 0.3s ease;
}
.git-butt:hover{
    scale: 1.1;
}
.git-butt:active{
    scale: 0.9;
}