/* Styling for the main page */
body{
    background-image: url(../assets/bg.jpg);
}

.books-container{
    display: flex;
    flex-direction: column;
    background: none;
    margin-top: 1%;
    border-radius: 25px;
    font-size: large;
    font-family: sans-serif;
    overflow-y: scroll;
    margin-bottom: 1%;
}
.books-container::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  .books-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* color of the scrollbar handle */
    border-radius: 10px; /* rounded corners */
  }
  .books-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* darker color on hover */
  }
  .books-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* color of the scrollbar track */
    border-radius: 10px; /* rounded corners */
  }
  .books-container::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.6); /* darker color when grabbing */
  }
  
.item-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4); /* Adjust opacity as needed */
    backdrop-filter: blur(20px); /* Adjust blur radius as needed */
    width: 80%;
    margin-bottom: 3%;
    border-radius: 50px;
    transition: 0.3s ease;
}

.user-item-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4); /* Adjust opacity as needed */
    backdrop-filter: blur(20px); /* Adjust blur radius as needed */
    width: 80%;
    margin-bottom: 3%;
    border-radius: 50px;
    transition: 0.3s ease;
}

.book-item{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;    
}

.navbar{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7%;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    background-color: rgba(255, 255, 255, 0.296); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.about-us{
    display:flex;
    flex: 1;    
    padding-right: 1%;
    align-items: self-end;
    flex-direction: column;
  text-decoration-line: none;
  font-family: sans-serif;
  color: black;
}
.logo{
    display:flex;
    flex: 0;
    flex-direction: column;

}
.logo-title{
    display:flex;
    flex: 3;
    flex-direction: column;
    padding-left: 1%;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    cursor: default;
}
.logout-button{
    display:flex;
    flex: 0;
    flex-direction: column;
    border: none;
    background: none;
    transform: scaleX(-1);
    cursor: pointer;
}
.user-scr{
    display: flex;
    flex-direction: row;
    height: 92%;
    overflow: hidden;
}

.user-list{
    display: flex;
    flex-direction: column;
    flex: 2;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    background-color: rgba(255, 255, 255, 0.275); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
}
.stock-list{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 20px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    background-color: rgba(255, 255, 255, 0.275); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
}

.user-search{
    min-height:6%;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 15px;
    font-size: medium;
}
.user-books{
    display: flex;
    flex-direction: column;
    background: none;
    margin-top: 1%;
    border-radius: 25px;
    font-size: large;
    font-family: sans-serif;
    overflow-y: scroll;
    margin-bottom: 1%;
    
}
.user-books::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  .user-books::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* color of the scrollbar handle */
    border-radius: 10px; /* rounded corners */
  }
  .user-books::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* darker color on hover */
  }
  .user-books::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* color of the scrollbar track */
    border-radius: 10px; /* rounded corners */
  }
  .user-books::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.6); /* darker color when grabbing */
  }

  .your-books{
    min-height: 6%;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 1.3%;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 15%;
    cursor: default;
  }

  .add-book{
    border: none;
    display: flex;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    padding-left: 15px;
    transition: 0.3s ease;
  }
  .add-book:active{
    scale: 0.9;
  }